<%- include('header'); -%>
<div class="content">
    <h1>Selected Article</h1>
    <table id ="article">
        <tbody>
                <tr>
                    <th scope= "row">
                        Name
                    </th>
                    <td>
                        <%= product.name %>
                    </td>
                </tr>
                <tr>
                    <th scope= "row">
                        Reference
                    </th>
                    <td>
                        <%= product.reference %>    
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Category
                    </th>
                    <td>
                        <%= product.category %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Price
                    </th>
                    <td>
                        <%= product.price %>AED
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<br>
<%- include('footer'); -%>