<%- include('header'); -%>
    <div class="content">
        <h1>Selected Clients</h1>
        <table id="catalog">
            <thead>
                <tr>
                    <th>Client Number</th>
                    <th scope="col">Society</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">City</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Fax</th>
                    <th scope="col">Confirmation</th>
                    <th scope="col">Payments</th>
                    <th scope="col">Information</th>
                    <th scope="col">Max Outstanding</th>
                </tr>
            </thead>
            
            <tbody>
                <% clients.forEach(client => { %>
                    <tr>
                        <td>
                            <%= client.num_client %>
                        </td>
                        <td>
                            <%= client.society %>
                        </td>
                        <td>
                            <%= client.contact %>
                        </td>
                        <td>
                            <%= client.addres %>
                        </td>
                        <td>
                            <%= client.zipcode %>
                        </td>
                        <td>
                            <%= client.city %>
                        </td>
                        <td>
                            <%= client.phone %>
                        </td>
                        <td>
                            <%= client.fax %>
                        </td>
                        <td>
                            <%= client.confirmation %>
                        </td>
                        <td>
                            <%= client.payment %>
                        </td>
                        <td>
                            <%= client.Informations %>
                        </td>
                        <td>
                            <%= client.max_outstanding %>
                        </td>
                        
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <br>
    <%- include('footer'); -%>